<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>TITLE</title>
  <!--
  <link rel="stylesheet" type="text/css" href="/path/to/styles.css" />
  -->
</head>
<body>
  <h1>
    PAGE_HEADER
  </h1>
  <article lang="en">
    <h2>
      ARTICLE_HEADER
    </h2>
    <p>{{currentTimestamp}}.</p>
    <p>
      Unless otherwise specified, the timestamps are all in local time.
    </p>
    <p>
      BRIEF_DESCRIPTION
    </p>
    {{#mediaFiles}}
    <div>
    {{#photo?}}
      <img
        src="{{&path}}"
        alt="Photo captured at {{timestamp}}." />
      <p>{{timestamp}} at LOCATION.</p>
      <p>DESCRIPTION</p>
    {{/photo?}}
    {{#video?}}
      <video
        controls="controls"
        preload="metadata"
        width="{{width}}"
        height="{{height}}">
        <source src="{{&path}}" type="video/mp4" />
      </video>
      <p>{{timestamp}} at LOCATION.</p>
      <p>DESCRIPTION</p>
    {{/video?}}
    </div>
    {{/mediaFiles}}
  </article>
</body>
</html>
